

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.pshow{
   display: inline;
}
.phide{
   display: none;
}
.tshow{
   display:block;
}
















